body {
    font-size: 2rem;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
}

h1 {
    margin-top: 2rem;
    text-align: center;
    color: #b6c6e2;
}

input {
   margin-top: 1rem;
   padding-left: 1rem;
   width: 100%;
   color: gray;
}

table {
    margin-top: 2rem;
}

thead, tbody {
    color: #b6c6e2;
}